body {
font-family: 'Roboto', sans-serif;
font-style: normal;
color: #434455;
background-color:#FFFFFF;
}

.logo
{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4D5AE5;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  }

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:#2E2F42;
  
} 
.list-nav a {
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
text-decoration: none;
list-style-type: none;
color:#2E2F42;
}
.list-nav a:hover {
color: #404BBF;
}
.list-nav a:active {
color: #404BBF;
  }

ul {
list-style-type: none;  
}
.address a {
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}

.address a:hover,:focus{
color: #404BBF;
}

.address{
font-style: normal; 
}

.hero {
background-color: #2E2F42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07em;
  color: #FFFFFF;
  letter-spacing: 0.02em;
  text-align:center;
}

.button {
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor:pointer;
}
button:hover:f{
background: #404BBF;
}
.features h3 {
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
}
.features p {
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}
.hidden {
display: none;
}
h2 {
font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.team h3 {
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
}
.team p {
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}
.portfolio h3{
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
}
.portfolio p {
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}
footer span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #4D5AE5;
  text-decoration: none; 
}
footer a {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-decoration: none;
}
footer p {
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD;
}